{% extends 'base.html' %}

{% block main %}
<div class="jumbotron">
    {% if user is not empty %}
        <div class="modal fade" id="message-information">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Message details - Message ID: <span id="message-id"></span></h4>
                    </div>

                    <div class="modal-body">
                        <h3>User details:</h3>
                        <table class="table table-bordered table-hover table-striped" id="user">
                            <tbody>
                                <tr>
                                    <th>Name:</th>
                                    <td id="name"></td>
                                </tr>

                                <tr>
                                    <th>User ID:</th>
                                    <td id="user_id"></td>
                                </tr>

                                <tr>
                                    <th>Avatar:</th>
                                    <td><img src="" id="avatar" /></td>
                                </tr>

                                <tr>
                                    <th>Created at:</th>
                                    <td id="created_at"></td>
                                </tr>

                                <tr>
                                    <th>Bot</th>
                                    <td id="bot"></td>
                                </tr>
                            </tbody>
                        </table>

                        <h3>Message details:</h3>
                        <table class="table table-bordered table-hover table-striped" id="message">
                            <tbody>
                                <tr>
                                    <th>Content:</th>
                                    <td><pre id="content"></pre></td>
                                </tr>
                                <tr>
                                    <th>Message sent/updated:</th>
                                    <td id="updated_at"></td>
                                </tr>
                            </tbody>
                        </table>

                        <div id="attachments" class="hidden">
                            <h3>Attachment details:</h3>
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Filename:</th>
                                        <th>File URL:</th>
                                    </tr>
                                </thead>

                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-success pull-right disabled" id="refresh">
                <i class="fa fa-1x fa-spinner"></i> Refresh
            </button>
        </div>

        <br>

        <div class="form-group">
            <label for="channel"><i class="fa fa-1x fa-list"></i> Channel:</label>
            <select class="form-control" id="channel">
                <option selected="" value="">Select channel</option>
            </select>
        </div>

        <div class="form-group">
            <label for="user"><i class="fa fa-1x fa-search"></i> User ID:</label>
            <input type="text" class="form-control" id="userid" />
        </div>

        <div class="form-group">
            <label for="limit"><i class="fa fa-sort-numeric-asc fa-1x"></i> Maximum number of messages:</label>
            <input type="number" class="form-control" step="1" min="1" value="25" id="limit">
        </div>

        <div class="form-group">
            <label for="offset"><i class="fa fa-sort-numeric-desc fa-1x"></i> Amount of messages to offset by:</label>
            <input type="number" class="form-control" step="1" min="0" value="0" id="offset">
        </div>

        <div class="alert alert-danger hidden" id="error"></div>

        <div class="hidden alert alert-success"><i class="fa fa-comments-o fa-1x"></i> Retrieved <strong id="count"></strong> messages</div>
        <button class="btn btn-xs btn-info hidden" id="info-btn"><i class="fa fa-1x fa-info"></i></button>
        <table id="messages" class="table table-bordered hidden">
            <thead>
                <tr>
                    <th>Date &amp; time:</th>
                    <th>Channel:</th>
                    <th>Display name:</th>
                    <th>Message:</th>
                    <th>Actions:</th>
                </tr>
            </thead>

            <tbody></tbody>
        </table>
    {% else %}
        <p class="text-info">Please <a href="/auth/discord">log in with Discord</a>.</p>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
    {% if user is not empty %}
        <script type="text/javascript" src="/static/js/messages.js"></script>
    {% endif %}
{% endblock %}
